:root {
    --color-primary-1: #66E2DC;
    --color-primary-2: #FA7453;
    --color-primary-3: #FFB964;

    --color-secondary-1: #FCFAF9;
    --color-secondary-2: #191826;

    --ff-base: 'IBM Plex Sans', sans-serif;

    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --content-max-width: 32.7rem;

    --layout-top-spacing: 3.9rem;
    --layout-header-bottom-spacing: 16.6rem;
    --layout-main-bottom-spacing: 39rem;
    --layout-footer-bottom-spacing: 8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

img {
    display: block;
}


h1, h2 {
    font-family: var(--ff-base);
    font-weight: var(--fw-bold);
}

h1 {
    font-size: 4rem;
    line-height: 1.2em;
    letter-spacing: -0.011em;
    color: var(--color-secondary-2);
}

h2 {
    font-size: 3.2rem;
    line-height: 1.25em;
}

p {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
}

p.body1 {
    font-size: 1.6rem;
    line-height: 1.625em;
    color: var(--color-secondary-2);
}

p.body2 {
    font-size: 1.8rem;
    line-height: 1.556em;
}

p.body3 {
    font-size: 1.6rem;
    line-height: 1.625em;
    color: var(--color-secondary-2);
}

body {
    display: grid;
    justify-content: center;
    align-content: start;
    min-height: 100vh;

    background: 
        no-repeat top -24.3rem right -21.5rem url("assets/bg-main-mobile.png");
}

.container {
    max-width: var(--content-max-width);
    margin: 0 auto;
}

.btn-txt {
    font-family: var(--ff-base);
    font-weight: var(--fw-bold);
    font-size: 1.8rem;
    line-height: 1.778em;
    letter-spacing: -0.01em;
    text-decoration: none;
}

.btn {
    display: block;
    padding: 1.5rem 0 1.4rem;
    border-radius: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.btn:link,
.btn:visited {
    transition: background-color 0.25s ease-out;
}

.btn-ios:link,
.btn-ios:visited {
    background-color: var(--color-secondary-2);
    color: var(--color-secondary-1);
}

.btn-ios::before {
    content: "";
    background-image: url("assets/icon-apple.svg");
    width: 18px;
    height: 20px;
}

.btn-ios:hover,
.btn-ios:active {
    background-color: var(--color-primary-1);
}

.btn-android:link,
.btn-android:visited {
    background-color: var(--color-secondary-1);
    color: var(--color-secondary-2);
}

.btn-android::before {
    content: "";
    background-image: url("assets/icon-android.svg");
    width: 18px;
    height: 20px;
}

.btn-android:hover,
.btn-android:active {
    background-color: var(--color-primary-3);
}

/* HEADER */
.header-content {
    --header-logo-bottom-spacing: 6.4rem;
    --header-heading-bottom-spacing: 2rem;

    padding-top: var(--layout-top-spacing);
    margin-bottom: var(--layout-header-bottom-spacing);
}

.header-content > .equalizer-logo {
    margin-bottom: var(--header-logo-bottom-spacing);
}

.heading-main {
    margin-bottom: var(--header-heading-bottom-spacing);
}

/* MAIN */
.main-content {
    background-color: var(--color-secondary-2);
    background-image: url("assets/bg-pattern-2.svg");
    background-repeat: no-repeat;
    background-position: left 4.8rem top 0;
    background-size: 28rem;
    width: 37.5rem;
    height: 60rem;
    border-radius: 1.2rem;
    margin-bottom: var(--layout-main-bottom-spacing);
    position: relative;
}

.illustration-img {
    width: 20.9rem;
    height: 43rem;

    position: absolute;
    left: 8.1rem;
    top: -9.8rem;
}

/* MAIN - premium card */
.premium-card {
    --card-content-spacing-top: 4.8rem;
    --card-content-spacing-bottom: 4.8rem;
    --card-content-spacing-left: 3.6rem;
    --card-content-spacing-right: 3.6rem;

    --card-heading-spacing-bottom: 1.2rem;
    --card-text-spacing-bottom: 3.6rem;
    --card-price-spacing-bottom: 3.2rem;
    --card-buttons-spacing: 1.6rem;

    background-color: var(--color-primary-2);
    border-radius: 1.2rem;
    color: var(--color-secondary-1);

    padding: var(--card-content-spacing-top) var(--card-content-spacing-right) var(--card-content-spacing-bottom) var(--card-content-spacing-left);

    position: absolute;
    right: 0;
    bottom: -32.6rem;
}

.card-heading {
    margin-bottom: var(--card-heading-spacing-bottom);
}

.card-text {
    margin-bottom: var(--card-text-spacing-bottom);
}

.price-container {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    margin-bottom: var(--card-price-spacing-bottom);
    padding-left: 0.6rem;
}

.price {
    font-size: 6.5rem;
    font-weight: var(--fw-bold);
    line-height: 0.8em;
}

.basis {
    font-size: 2rem;
    line-height: 1.6em;
    letter-spacing: -0.01em;
}

.btns-container {
    display: flex;
    flex-direction: column;
    gap: var(--card-buttons-spacing);

    padding-left: 0.6rem;
}

/* FOOTER */
.footer-content {
    --footer-logo-bottom-spacing: 3.2rem;
    --footer-text-bottom-spacing: 6.4rem;
    --footer-social-logos-spacing: 2rem;

    display: grid;
    grid-template-areas: 
        "logo"
        "text"
        "social"
    ;

    padding-bottom: var(--layout-footer-bottom-spacing);
}

.footer-content > .equalizer-logo {
    grid-area: logo;
    margin-bottom: var(--footer-logo-bottom-spacing);
}

.footer-content > .body3 {
    grid-area: text;

    white-space: pre-line;
    margin-bottom: var(--footer-text-bottom-spacing);
}

.footer-content >.body3 > a {
    text-decoration: none;
    font-weight: var(--fw-bold);
    color: inherit;
}

.footer-content > .social-links {
    grid-area: social;

    display: flex;
    gap: var(--footer-social-logos-spacing);

    list-style-type: none;
}

.social-link:link,
.social-link:visited {
    font-size: 2.3em;
    color: var(--color-secondary-2);
    transition: color 0.25s;
}

.social-link:hover,
.social-link:active {
    cursor: pointer;
    color: var(--color-primary-2);
}

/* Tablet - 768px */
/* @media only screen and (min-width: 48em) {
    h1 {
        font-size: 6.4rem;
        line-height: 1em;
    }
            
    p.body1 {
        font-size: 1.8rem;
        line-height: 1.556em;
    }

    .illustration-img {
        width: 27rem;
        height: 55.6rem;
    }

} */

/* Desktop - 1440px */
/* @media only screen and (min-width: 90em) {
    h1 {
        font-size: 8.8rem;
    }
    
    h2 {
        font-size: 4rem;
        line-height: 1.3em;
    }

    p.body1 {
        font-size: 2rem;
        line-height: 1.7em;
    }
    
    p.body2 {
        font-size: 3.4rem;
        line-height: 1.7em;
    }

    .illustration-img {
        width: 31.2rem;
        height: 64.2rem;
    }
} */
